*{
    margin: 0px;
}

body{
    background-color: rgb(114, 13, 13);
}

.hidden {
    display: none;
}

header{
    font-size: 26px;
    background-image: linear-gradient(rgb(170, 53, 53),red);
    margin: 0px;
    margin-bottom: 50px;
    padding: 15px;
    text-align: center;
    font-family: sans-serif;
    color:whitesmoke;
}
.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto; 
    height: 300px;  


}

.card{
    background-color: rgb(199, 53, 53);
    border-radius: 25px;
    text-align: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 500px;
    margin: 20px;
    flex-flow: row;
    height: 300px
}
.card-head{
    background-color: rgb(250, 69, 69);
    padding: 10px;
    border-radius: 25px 25px 0px 0px;
}
.card p{
    padding-left: 15px;
    padding-right: 15px;
  
}

.card h2{
    color:whitesmoke;
    font-family: sans-serif;
}

.card p{
    margin-top:40px;
    font-size: 30px;
    color:whitesmoke;
}

/* .card-2{
    
}
.-card-3{

}
.card-4{

}
.card-5{
  
}
.card-6{
 
} */

.celebrities {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin: 0 auto;
}

/* .celeb {
    
    
} */

.celeb-image{
    width: 200px;
    height: 200px;
}